In [ ]:
 # comments

In [ ]:
3.4 # numeric Literals
3.4

3.4

In [ ]:
7L
File "<string>", line1
SyntaxError: invalid decimal Literal

SyntaxError: invalid decimal literal (<ipython-input-4-05546787e2cc>, line 2)

In [ ]:
-5 4.5
 file "<string>", line1
  -5 4.5
  SyntaxError: invalid syntax

In [ ]:
10,-3

(10, -3)

In [ ]:
# variable
a= 3 # assign value to variable a
a
3

3

In [ ]:
m,n =10,20
print(m, n)
10,20

10 20

(10, 20)

In [ ]:
m, n=n, m
print(m,n)
20, 10

20 10

(20, 10)

In [ ]:
#var name
age =19
age
19
my_age=20
my_age
20
_height =172.3
_height

172.3

In [ ]:
 _26asian = 2026
 _26asian
 2026

2026

In [ ]:
#int
a=10
print(a)
10

10

10

In [ ]:
type(a)
<class 'int>'

SyntaxError: invalid syntax (<ipython-input-7-57317e5a884a>, line 2)

In [ ]:
#float
x=2.718
print(x)
2.718
type(x)
<class float'>

SyntaxError: unterminated string literal (detected at line 6) (<ipython-input-14-9c685023532c>, line 6)

In [ ]:
#complex
c=3-4j
print(c)
(3-4j)
type(c)
<class 'complex'>

In [ ]:
# string
s = "vs code"
print(s)
vs code
type(s)
<class 'str>'

In [ ]:
import datetime as dt
d = dt.datetime(2026,3,1)
print(d, 'd요일:',d.weekday())
2026-03-01 00:00:00 요일: 6

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-15-fd16f4d8d711>, line 4)

In [ ]:
10 + 4.3
14.3
5.4 - 1.2
4.2
4*2.7
10.8
10/4
2.5

2.5

In [ ]:
10%3
1
10 // 3

3

In [ ]:
3**3
2**2.8

6.964404506368992

In [ ]:
3 * (4-2)
(10-3)**2

49

In [ ]:
True & Ture

Ture and False

True | Ture

False or False

NameError: name 'Ture' is not defined

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
year = input('당신이 태어난 년도는?')

당신이 태어난 년도는?2005

In [ ]:
print(year)
type(year)

2005

str

In [ ]:
age= 2026 -int(year)
print('나이',age)

나이 21

In [ ]:
year = int(input('당신이 태어난 년도는 ?'))
print('나이',2026-year)

당신이 태어난 년도는 ?2005
나이 21

In [ ]:
abs(-3)

3

In [ ]:
min(10,20,1)
max(10,100,1)

100

In [ ]:
min([10,11,12])
max([10,11,12])

12

In [ ]:
round(3.1415)
round(3.1415,3)

3.142

In [ ]:
import math as m
m.pi, m.e

(3.141592653589793, 2.718281828459045)

In [ ]:
m.sqrt(4)

2.0

In [ ]:
m.trunc(3.1415)

3

In [ ]:
import matplotlib.pyplot as plt

plt.scatter(x= cars.speed, y= cars.dist)
plt.show()

NameError: name 'cars' is not defined

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

sns. scatterplot(x=cars.speed, y=cars.dist)
plt.show()

In [ ]:
n=20
if n%2 ==0:
  print('짝수')

In [ ]:
n=21if
n%2 ==0:
print('짝수')

In [ ]:
value="apple"
match valie:
  case 'apple':
    result="사과"
    case 'banana':
      result ="바나나"

print(result)

SyntaxError: invalid syntax (<ipython-input-35-292ca6bb6439>, line 5)

In [ ]:
value="mango"

match value:
  case 'apple':
    result="시과"
    case 'banana'="바나나"
    case_:
      result = None

      print(result)

In [ ]:
num=[10,20,30,40]
for i in num:
  print(i)

10
20
30
40

In [ ]:
fruits = list(["apple",2500,"banana",500,"mango",2000])
for x in fruits:
  print(x)

apple
2500
banana
500
mango
2000

In [ ]:
i=1
sum=0
while i <= 10:
  sum +=i
  i +=1

  print(sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
def hello():
  print('Hello,python!')

In [ ]:
hello()

Hello,python!

In [ ]:
hello
<function hllo at 0x000001c014EE1DA0>

SyntaxError: invalid syntax (<ipython-input-43-6769d27b8056>, line 2)

In [ ]:
type(hello)

function

In [ ]:
def hi(one):
  print('안녕,',one)

In [ ]:
hi('영희')

안녕, 영희

In [ ]:
def hi(one='친구들'):
  print('안녕,',one)

In [ ]:
import math as m
def circle_area(r=1):
  print(m.pi*r**2)

In [ ]:
circle_area()

3.141592653589793

In [ ]:
circle_area(4.5)

63.61725123519331

In [ ]:
circle_area(r=5.6)

98.5203456165759

In [ ]:
import math as m
def circle_area(r=1):
  return m.pi*r**2

  print(circle_area(r=7.2))

In [ ]:
def sum_sub(x,y):
  hap =x+y
  cha=x-y
  return hap, cha

In [ ]:
sum_sub(10,3)

(13, 7)

In [ ]:
import math as m
(lambda a,b:m.sqrt(a**2+b**2))(3,4)

5.0